﻿body {
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /*overflow: auto;*/ /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal cont */
.modal-cont {
    background-color: #fefefe;
    height: 9%;
    font-weight: bold;
    margin: auto;
    padding: 14px;
    border: 1px solid #888;
    width: 80%;
    font-family: 'Times New Roman', Times, serif;
}

/* Modal Content */
.modal-content {
    line-height: 555px;
    background-color: #fefefe;
    font-weight: bold;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    overflow-y: auto;
    font-family: 'Times New Roman', Times, serif;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* The Close Button */
.close {
    color: #330000;
    float: right;
    font-size: 28px;
    font-weight: bold;
    opacity: .4;
}

    .close:hover,
    .close:focus {
        color: #1a0000;
        text-decoration: none;
        cursor: pointer;
    }

.beta table, .beta td, .beta th {
    border: 1px solid;
}

.beta table {
    border-collapse: collapse;
    width: 100%;
}

.beta th {
    height: 25px;
    width: 90px;
    text-align: center;
}

.beta td {
    height: 13px;
    width: 250px;
  /*  padding: 8px;*/
    text-align: left;
}
