

a{color: #4C4C4C;text-decoration: none;}
a:hover {opacity: 0.9; text-decoration: none;}

 h2 	{font-size: 25px;line-height: 25px;color: #212121; margin-left:50px;}
 h4	{font-size: 20px;line-height: 20px;color: #2c3e50;}

p{margin: 10px 0;}

.t-center{text-align: center;}
.t-left{text-align: left;}
.t-right{text-align: right;}
.f-right{float: right;}
.f-left{float: left;}



hr{border: 0;height: 3px;margin: 20px auto;}
hr.line-1{background: #fff;max-width: 30px;}
hr.line-2{background: #252525;max-width: 50px;height: 8px;}


#container {}
#container .wrap-container{}

/* ---content-box--- */
.content-box {}
.content-box .wrap-box {padding: 20px 15px; position: relative;}



.content-box.box-1 {}
.content-box.box-1 .wrap-col{margin: 0 10px; }

.content-box.box-2 {text-align: center;}


.content-box.box-3 {}
.content-box.box-3 .title{text-align: center;font-size: 25px;font-weight: bold;}
.content-box.box-3 .title strong{font-size: 45px;}

.content-box.box-4{color: #212121;font-weight: bold;}
.content-box.box-4 .subcribe-form{text-align: right;background: #eee;padding: 35px ;}
.content-box.box-4 .subcribe-form form{text-align: left;}
.content-box.box-4  input[type="text"]{width: 500px;}


/* ---MainContent-Article--- */
#main-content{margin-top: 50px;}

article{margin-bottom: 30px;}
article:after, article:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}
article .art-header{}
article .art-content{margin: 30px 0 10px;}


 .ps ul li{margin-right: 5px; margin-top:20px; list-style:none}
 .ps ul li a{padding: 8px 16px;background-color:#d65f24; color: #fff; font-size:12px;}
 .ps ul li a:hover,.navigation ul li a:focus,.navigation ul li.active a{background:#ff802b; text-decoration:none}





 @media only screen 

and (min-device-width : 768px) 

and (max-device-width : 1024px) 

and (orientation : portrait) {

/* iPads (portrait) ----------- */

 .ps ul li{margin-right: 3px; margin-top:15px; list-style:none}
 .ps ul li a{padding: 4px 10px;background-color:#d65f24; color: #fff; font-size:8px;}
 .ps ul li a:hover,.navigation ul li a:focus,.navigation ul li.active a{background:#ff802b; text-decoration:none}





}




.bord
{
	border: 1px solid #CCC;
	padding:10px;
}

.card
{
	border: 1px solid #e8e8e8;
    box-shadow: 0 0 20px rgba(0,0,0,.04) inset;
    -o-box-shadow: 0 0 20px rgba(0,0,0,.04) inset;
    -moz-box-shadow: 0 0 20px rgba(0,0,0,.04) inset;
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,.04) inset;

}

.lft {
    margin-right:0px;
}