﻿@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
}

#header {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 80px;
    background-image: url(images/header.jpg);
}


    #header #logo {
        margin: 0px;
        padding: 0px;
        width: 50%;
        height: 80px;
        float: left;
    }


    #header #comp_name {
        margin: 0px;
        padding: 0px;
        width: 50%;
        height: 80px;
        float: right;
    }

        #header #comp_name h1 {
            margin-top: 20px;
            padding: 0px;
            font: 400 28px 'Roboto Slab',serif;
            font-weight: bold;
            color: #324374;
            text-align: justify;
        }

#nav {
    margin-top: 20px;
    padding: 0px;
    width: 100%;
    height: 40px;
    background: #4c4e5a;
    background: -webkit-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -moz-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -o-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -ms-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


    /* Reset */
    #nav .menu,
    #nav .menu ul,
    #nav .menu li,
    #nav .menu a {
        margin: 0;
        padding: 0;
        border: none;
        outline: none;
    }

    /* Menu */
    #nav .menu {
        height: 40px;
        width: 1200px;
        background: #4c4e5a;
        background: -webkit-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
        background: -moz-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
        background: -o-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
        background: -ms-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
        background: linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

        #nav .menu li {
            position: relative;
            list-style: none;
            float: left;
            display: block;
            height: 40px;
            text-align: center;
            top: 0px;
            left: 0px;
        }

            /* Links */

            #nav .menu li a {
                display: block;
                padding: 0 14px;
                margin: 6px 0;
                line-height: 28px;
                text-decoration: none;
                border-left: 1px solid #393942;
                border-right: 1px solid #4f5058;
                font-family: Helvetica, Arial, sans-serif;
                font-weight: bold;
                font-size: 13px;
                color: #f3f3f3;
                text-shadow: 1px 1px 1px rgba(0,0,0,.6);
                -webkit-transition: color .2s ease-in-out;
                -moz-transition: color .2s ease-in-out;
                -o-transition: color .2s ease-in-out;
                -ms-transition: color .2s ease-in-out;
                transition: color .2s ease-in-out;
            }

            #nav .menu li:first-child a {
                border-left: none;
            }

            #nav .menu li:last-child a {
                border-right: none;
            }

            #nav .menu li:hover > a {
                color: #8fde62;
            }

        /* Sub Menu */

        #nav .menu ul {
            position: absolute;
            top: 40px;
            left: 0;
            text-align: center;
            opacity: 0;
            background: #1f2024;
            -webkit-border-radius: 0 0 5px 5px;
            -moz-border-radius: 0 0 5px 5px;
            border-radius: 0 0 5px 5px;
            -webkit-transition: opacity .25s ease .1s;
            -moz-transition: opacity .25s ease .1s;
            -o-transition: opacity .25s ease .1s;
            -ms-transition: opacity .25s ease .1s;
            transition: opacity .25s ease .1s;
        }

        #nav .menu li:hover > ul {
            opacity: 1;
        }

        #nav .menu ul li {
            height: 0;
            overflow: hidden;
            padding: 0;
            -webkit-transition: height .25s ease .1s;
            -moz-transition: height .25s ease .1s;
            -o-transition: height .25s ease .1s;
            -ms-transition: height .25s ease .1s;
            transition: height .25s ease .1s;
        }

        #nav .menu li:hover > ul li {
            height: 36px;
            overflow: visible;
            padding: 0;
        }

        #nav .menu ul li a {
            width: 160px;
            padding: 4px 4px 4px 10px;
            margin: 0;
            border: none;
            border-bottom: 1px solid #353539;
            text-align:left;
        }

        #nav .menu ul li:last-child a {
            border: none;
        }





#main {
    margin: 0px;
    padding: 0px;
    width: auto;
    height: 500px;
    background-color: #FFF;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
}



#footer {
    margin-top: 10px;
    padding: 0px;
    background-color: #FFF;
    width: auto;
    height: 40px;
    border-top: 2px solid #666;
}

    #footer p {
        margin-top: 10px;
        padding: 0px;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 12px;
        color: #000;
        text-align: center;
    }
