﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="NotDownloadedWaybill.aspx.cs" Inherits="NotDownloadedWaybill" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <asp:Button runat="server" Text="Download WayBill Data" ID="btnSubmit" OnClick="btnSubmit_Click" />
</asp:Content>

