@charset "utf-8";

*
{
	margin:0px;
	padding:0px;
}

#header
{
	margin:0px;
	padding:0px;
	width:1200px;
	height:80px;
	background-color:#FFF;
	border-bottom:2px solid #666;
}


#header #logo
{
	margin:0px;
	padding:0px;
	width:300px;
	height:80px;
	
	float:left;
}


#header #comp_name
{
	margin:0px;
	padding:0px;
	width:900px;
	height:80px;
	
	float:right;
}



#header #comp_name h1
{
	margin-top:20px;
	padding:0px;
	font: 400 28px 'Roboto Slab',serif;
	font-weight:bold;
	color:#324374;
	text-align:center;
}



/* Default Styles 
--------------------------------------------------------------------*/

ol, ul {
	list-style: none;
}


.clearfix {
	clear: both;
}

.wrap {
	width: 1200px;
margin-top:20px;
}

nav {
	background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#ccc));
	background-image: linear-gradient(#fff, #ccc);
	border-radius: 6px;
	box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.4);
	padding: 0 10px;
	position: relative;
}

.menu li {
	float: left;
	position: relative;
	text-align:center;
}

.menu li a {
	color: #444;
	display: block;
	font-size: 14px;
	line-height: 20px;
	padding: 6px 50px;
	margin: 8px 8px;
	vertical-align: middle;
	text-decoration: none;
font: 600 12px Lato,sans-serif;
	
}

.menu li a:hover {
	background: -webkit-gradient(linear, center top, center bottom, from(#ededed), to(#fff));
	background-image: linear-gradient(#ededed, #fff);
	border-radius: 12px;
	box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.1);
	color: #222;
	font: 600 12px Lato,sans-serif;
}

/* Dropdown styles */

.menu ul {
	position: absolute;
	left: -9999px;
	list-style: none;
	opacity: 0;
	transition: opacity 1s ease;
}

.menu ul li {
	float: none;
}

.menu ul a {
	white-space: nowrap;
}

/* Displays the dropdown on hover and moves back into position */
.menu li:hover ul {
	background: rgba(255,255,255,0.7);
	border-radius: 0 0 6px 6px;
	box-shadow: inset 0px 2px 4px rgba(0,0,0,0.4);
	left: 5px;
	opacity: 1;
}

/* Persistant Hover State */
.menu li:hover a {
	background: -webkit-gradient(linear, center top, center bottom, from(#ccc), to(#ededed));
	background-image: linear-gradient(#ccc, #ededed);
	border-radius: 12px;
	box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.1);
	color: #222;
	font: 600 12px Lato,sans-serif;
}

.menu li:hover ul a {
	background: none;
	border-radius: 0;
	box-shadow: none;
	font: 600 12px Lato,sans-serif;
}

.menu li:hover ul li a:hover {
	background: -webkit-gradient(linear, center top, center bottom, from(#eee), to(#fff));
	background-image: linear-gradient(#ededed, #fff);
	border-radius: 12px;
	box-shadow: inset 0px 0px 4px 2px rgba(0,0,0,0.3);
	font: 600 12px Lato,sans-serif;
}


#main
{
	margin:0px;
	padding:0px;
	width:1200px;
	height:500px;
	background-color:#eaeff0;
	-moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;
}

#footer
{
	margin-top:10px;
	padding:0px;
	background-color:#FFF;
	width:1200px;
	height:40px;
	border-top:2px solid #666;
}

#footer p
{
	margin-top:10px;
	padding:0px;
	font: 400 12px 'Roboto Slab',serif;
	color:#000;
	text-align:center;
}