/* CSS Document */

body{
	margin-left:0px;
	margin-top:0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	background-color:#FFFFFF;
	/*background-image:url(../images/pagebg.gif);*/
	}
.bodytext{
	font-family:verdana;
	font-size:11px;
	color:#666666;
	}
table td{
	font-family:Verdana;
	font-size:11px;
	color:#363636;
	}
.label{
	font-family:Verdana;
	font-size:11px;
	color:#363636;
	text-align:right;
	padding-right:10px;
	}
.label1{
	font-family:Verdana;
	font-size:11px;
	color:#363636;
	text-align:left;
	padding-right:10px;
	}
#outer{
	width:100%;
	height:auto;
	background-color:#FFFFFF;
	margin-left:0px;
	margin-right:0px;
	}
.lftshadow{
	background-image:url(../images/lftshadow.gif);
	background-repeat:repeat-y;
	background-position:top;
	width:4px;
	}
.rtshadow{
	background-image: url(../images/rtshadow.gif);
	background-repeat:repeat-y;
	background-position:top;
	width:4px;
	}
.toprightlinks{
	margin-right:10px;
	margin-top:10px;
	float:right;
	font-size:10px;
	color:#363636;
	font-weight:bold;
	}
	
	.toprightlinks1{
	margin-right:10px;
	margin-top:10px;
	float:right;
	font-size:20px;
	color:#363636;
	}
#logopos{
	width:220px;
	height:70px;
	margin-left:0px;
	margin-top:0px;
	float:left;
	position:relative;
	}
a:link{
	font-family:verdana;
	color:#363636;
	text-decoration:none;
	}
a:visited {
	color:#363636;
	text-decoration:none;
	}
a:hover {
	color:#000000;
	text-decoration:none;
	}
.navigationbar{
	background-image:url(../images/mainnavbar.gif);
	background-repeat:repeat-x;
	background-position:left;
	width:auto;
	height:30px;
	}
.navigationmain{
	font-size:10px;
	font-weight:bold;
	color:#FFFFFF;
	display:list-item;
	list-style:none;
	text-decoration:none;
	margin-left:15px;
	margin-right:15px;
	background-image:url(../images/navdivder.gif);
	background-repeat:no-repeat;
	background-position:right;
	height:30px;
	}
.navigationmain a{
	font-size:10px;
	font-weight:bold;
	color:#FFFFFF;
	display:list-item;
	list-style:none;
	text-decoration:none;
	margin-left:15px;
	margin-right:15px;
	}
.navigationmain a:visited{
	color:#FFFFFF;
	text-decoration:none
	}	
.navigationmain a:hover{
	color:#8F0B0F;
	text-decoration:none
	}	



.navigationlevel2bar{
	background-image:url(../images/navlevel2bg.gif);
	background-repeat:repeat-x;
	background-position:left;
	width:auto;
	height:24px;
	}
.navigationlevel2{
	font-size:10px;
	font-weight:normal;
	color:#373737;
	display:list-item;
	list-style:none;
	text-decoration:none;
	margin-left:15px;
	margin-right:15px;
	background-image:url(../images/navdivder.gif);
	background-repeat:no-repeat;
	background-position:right;
	}
.navigationlevel2 a{
	font-size:10px;
	font-weight:bold;
	color:#373737;
	display:list-item;
	list-style:none;
	text-decoration:none;
	margin-left:15px;
	margin-right:15px;
	}
.navigationlevel2 a:visited{
	color:#373737;
	text-decoration:none
	}	
.navigationlevel2 a:hover{
	color:#86A25D;
	text-decoration:none
	}	
.footer{
	background-color:#DDDDDD;
	font-size:10px;
	color:#373737;
	height:36px;
	padding-left:15px;
	border-bottom:thin;
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-bottom-width:1px;
	}
.logintext{
	color:#C20505;
	font:tahoma;
	font-size:12px;
	}
.paddingleft5{
	padding-left:5px;
	}
.paddingright5{
	padding-right:5px;
	}
.paddingleft10{
	padding-left:10px;
	}
.paddingright10{
	padding-right:10px;
	}
.padding10{
	padding:10px;
	}
.textfield
{
	border-right: #000000 1px solid;
	border-top: #000000 1px solid;
	font-size: 11px;
	border-left: #000000 1px solid;
	border-bottom: #000000 1px solid;
	border-collapse: collapse;
}

.textfield2
{
	border-right: #000000 1px solid;
	border-top: #000000 1px solid;
	font-size: 11px;
	border-left: #000000 1px solid;
	border-bottom: #000000 1px solid;
	border-collapse: collapse;
	text-align: right;
}

.textfield1
{
	border-right: #000000 1px solid;
	border-top: #000000 1px solid;
	font-size: 11px;
	border-left: #000000 1px solid;
	border-bottom: #000000 1px solid;
	border-collapse: collapse;
	text-align: center;
}

.textfield_disable{
	font:verdana;
	font-size:11px;
	border:thin;
	border-collapse:collapse;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	background-color:#EBEAEA;
	}
.datagrid{
	border:thin;
	border-collapse:collapse;
	border-color:#E7E7E7;
	border-style:solid;
	border-width:1px;
	text-align:center;
	}
.datagrid_heading{
	background-color:#F0F8E4;
	height:25px;
	font-size:11px;
	font-weight:bold;
	text-align:center;
	vertical-align:middle;
	border-bottom:thin;
	border-bottom-color:#B2C98F;
	border-bottom-style:solid;
	border-bottom-width:1px;
	}
.datagrid_heading1{
	background-color:#F0F8E4;
	height:25px;
	font-size:11px;
	font-weight:bold;
	text-align:center;
	vertical-align:middle;
	
	}
.datagrid_row1{
	background-color:#F5F5F5;
	text-align:center;
	}
.datagrid_row2{
	background-color:#FFFFFF;
	height:20px;
	font-size:8px;
	text-align:center;
	}
.txt12{
	font-size:12px;
	}
.txt14{
	font-size:14px;
	}
	
	.asdf
	{
		display:none;
	}
	.ss1 {
	font-family: "clisto MT";
	font-size:40pt;
	font-style: normal;
	font-weight: bold;
	color: #990000;
}
.ss1 {
	font-family: "clisto MT";
	font-size: 36pt;
	font-style: normal;
	font-weight: bold;
	color: #990000;
}
.hide
{
	display:none;
}

.alignright
{
	text-align: right;
}

.alignleft
{
	text-align:left;
}
.Temp
{
    display:none;
}
.PageHead
{
    font-weight: bold;
    font-size: x-large;
    text-transform: capitalize;
    text-decoration: underline;
}
.datagrid_mouseover
{
	background-color:#f1dd63;
    text-align:center;
}

.btntemp
{
    background-image: url(images/bg.gif);
}

.pager span 
{ 
    color:#009900;font-weight:bold; font-size:16pt; 
}
.highlight
{
    background-color:#FFFFCC;
}
.grid_header
{
	background-color:#FFF2A7; 
	border:solid 1px #C81F23;
	color:#000000; font-family:Tahoma;
	font-size:smaller;
}
.PO_Edit_Zindex
{
position:fixed;
z-index:200;
}
.textfield23
{
    display:none;
}
.SubmitBtn
{
    padding:.15em;
    font-size: 1.25em;
    width:144px;
    height:35px;
    font-family:Tahoma;
    font-weight:bold;
}